<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="IPInfo">
      <section name="providers" type="IPInfo.Configuration.ProviderConfigurationHandler,IPInfo"/>
    </sectionGroup>
  </configSections>
  <IPInfo>
    <providers>
      <provider
        providerClass="FreeGeoIPNet"
        priority="1"
        providerName="freegeoip.net"
        serviceUrl="http://freegeoip.net/{format}/{ip}"
        supportedFormats="JSON,XML"
        xmlRootElementName="Response"
        parseErrorResponses="false"
        timeout="1000"
      />
      <provider 
        providerClass="TelizeCom" 
        priority="2" 
        providerName="telize.com" 
        serviceUrl="http://www.telize.com/geoip/{ip}" 
        supportedFormats="JSON" 
        parseErrorResponses="true" 
        timeout="1000" 
      />
      <provider 
        providerClass="IPApiCom" 
        priority="3" 
        providerName="ip-api.com" 
        serviceUrl="http://ip-api.com/{format}/{ip}" 
        supportedFormats="JSON,XML" 
        xmlRootElementName="query" 
        parseErrorResponses="false" 
        timeout="1000" 
      />
      <provider
        providerClass="SmartIPNet"
        priority="4"
        providerName="smart-ip.net"
        serviceUrl="http://smart-ip.net/geoip-{format}/{ip}"
        supportedFormats="JSON,XML"
        xmlRootElementName="geoip"
        parseErrorResponses="false"
        timeout="1000"
      />
      <!-- Requires an API key from ipinfodb.com! 
      <provider 
        providerClass="IPInfoDBCom" 
        priority="5" 
        providerName="ipinfodb.com" 
        serviceUrl="http://api.ipinfodb.com/v3/ip-city/?key={apiKey}&amp;ip={ip}&amp;format={format}" 
        supportedFormats="JSON,XML" 
        xmlRootElementName="Response" 
        parseErrorResponses="false" 
        timeout="1000" 
        apiKey=""
      />
      -->
    </providers>
  </IPInfo>
</configuration>