<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="IPInfo">
      <section name="providers" type="IPInfo.Configuration.ProviderConfigurationHandler,IPInfo"/>
    </sectionGroup>
  </configSections>
  <IPInfo>
    <providers>
      <provider
        providerClass="FreeGeoIPNet"
        priority="1"
        providerName="freegeoip.net"
        serviceUrl="http://freegeoip.net/{format}/{ip}"
        supportedFormats="JSON,XML"
        xmlRootElementName="Response"
        parseErrorResponses="false"
        timeout="1000"
      />
    </providers>
  </IPInfo>
</configuration>